.container{
    max-width: 1129px;
    margin: 0 auto;
    width: 100%;

    @media(max-width: 1129px){
        max-width: 100%;
        padding: 0 15px;
    }

    @media(max-width: 992px){
        max-width: 576px;
    }
}