@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

*, html, body{
    font-family: "Poppins", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
    font-weight: normal;
    line-height: 150%;
    letter-spacing: 0;
    color: $black;
}